<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--Viewbag is a dynamic datastructure that contains data about the views-->
    <title>@ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid>
            <div class="navbar-header">
                <a class="navbar-brand" href="/">OdeToFood</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <!--Renders the content view-->
        @RenderBody()
        <footer></footer>
    </div>
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <!--Can render a section of HTML from a separate view-->
</body>
</html>
